Repository rbardini/resumed: changes, and which lint-staged commands are due for each by the changed paths.
All: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

Notes added by 'git notes add'
  ddf91bf84b9ad2d48f54fa568478bdf13a16647d
Due: none

docs(readme): update installation instructions
  README.md
Due: prettier --write

docs(readme): add real-world example link
  README.md
Due: prettier --write

chore(deps): update dependencies
  package-lock.json
  package.json
  src/cli.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

chore(deps): revert to lockfile v1
  package-lock.json
  package.json
  src/cli.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

fix(theme): properly ignore duplicate themes
  src/load-themes.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests

chore(deps): update dependencies
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  69e010a75229272014db548ddf2208ea3d4faafe
Due: none

docs(readme): remove dependencies badges
  README.md
Due: prettier --write

fix(theme): search themes in current working dir
  src/load-themes.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests

Notes added by 'git notes add'
  29eca25c067b6dc4ea82e598aa751a80c387d8bd
Due: none

docs(readme): readd dependencies badge
  README.md
Due: prettier --write

fix(deps): update dependencies
  .github/workflows/main.yml
  .lintstagedrc.json
  package-lock.json
  package.json
  src/cli.ts
  test/cli.test.ts
  test/init.test.ts
  test/validate.test.ts
  tsconfig.json
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

Notes added by 'git notes add'
  81bb8133360027cf8bc0f2389b1c2338f6e7fbf5
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

docs(examples): add examples
  .gitignore
  README.md
  examples/with-jsonresume-theme/README.md
  examples/with-jsonresume-theme/package.json
  examples/with-local-theme/README.md
  examples/with-local-theme/package.json
  examples/with-local-theme/theme/index.js
  examples/with-local-theme/theme/package.json
  examples/with-pdf-export/README.md
  examples/with-pdf-export/index.js
  examples/with-pdf-export/package.json
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

docs(examples): add Node.js API example
  examples/with-node-api/README.md
  examples/with-node-api/index.js
  examples/with-node-api/package.json
  examples/with-pdf-export/index.js
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

docs(examples): migrate examples to ESM
  examples/with-jsonresume-theme/package.json
  examples/with-local-theme/package.json
  examples/with-node-api/index.js
  examples/with-node-api/package.json
  examples/with-pdf-export/index.js
  examples/with-pdf-export/package.json
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

docs(examples): simplify commands
  examples/with-jsonresume-theme/README.md
  examples/with-jsonresume-theme/package.json
  examples/with-local-theme/README.md
  examples/with-local-theme/package.json
  examples/with-node-api/README.md
  examples/with-node-api/package.json
  examples/with-pdf-export/README.md
  examples/with-pdf-export/package.json
Due: prettier --write

docs(readme): add motivation section
  README.md
Due: prettier --write

Replace theme auto-loading with theme option/field
  src/cli.ts
  test/cli.test.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests

Remove `loadThemes` export
  src/index.ts
  src/load-themes.ts
  test/load-themes.test.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests

Remove unused dependencies
  package-lock.json
  package.json
Due: prettier --write

Update README
  README.md
Due: prettier --write

Update examples
  examples/with-jsonresume-theme/package.json
  examples/with-local-theme/package.json
  examples/with-node-api/package.json
  examples/with-pdf-export/package.json
Due: prettier --write

feat(theme)!: remove theme auto-load (#4)
  README.md
  examples/with-jsonresume-theme/package.json
  examples/with-local-theme/package.json
  examples/with-node-api/package.json
  examples/with-pdf-export/package.json
  package-lock.json
  package.json
  src/cli.ts
  src/index.ts
  src/load-themes.ts
  test/cli.test.ts
  test/load-themes.test.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

Notes added by 'git notes add'
  5c33c6766671b37c3a26743d195001462cd4a462
Due: none

feat(esm): migrate to pure ESM
  .github/workflows/main.yml
  .lintstagedrc.json
  README.md
  bin/resumed.js
  package-lock.json
  package.json
  src/cli.ts
  src/init.ts
  src/validate.ts
  test/cli.test.ts
  test/init.test.ts
  test/render.test.ts
  test/validate.test.ts
  tsconfig.json
  vite.config.js
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

feat(esm): migrate to pure ESM (#5)
  .github/workflows/main.yml
  .lintstagedrc.json
  README.md
  bin/resumed.js
  package-lock.json
  package.json
  src/cli.ts
  src/init.ts
  src/validate.ts
  test/cli.test.ts
  test/init.test.ts
  test/render.test.ts
  test/validate.test.ts
  tsconfig.json
  vite.config.js
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

Notes added by 'git notes add'
  42a1a689e2d8873d153a69eac71b460bbad663a3
Due: none

docs(readme): add pure ESM package to feature list
  README.md
Due: prettier --write

docs(examples): use latest package version
  examples/with-jsonresume-theme/package.json
  examples/with-local-theme/package.json
  examples/with-node-api/package.json
  examples/with-pdf-export/package.json
Due: prettier --write

chore(deps): add `prettier` dev dependency
  package-lock.json
  package.json
Due: prettier --write

chore(hooks): fix `vitest` command
  .lintstagedrc.json
Due: prettier --write

fix(init): create `require` to import JSON
  src/init.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests

Notes added by 'git notes add'
  b1b361fe29bb5973b5a78fb689272672f101e54e
Due: none

Fix some squigglies
  src/cli.ts
  src/index.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests

Add `watch` and `serve` commands
  package-lock.json
  package.json
  src/cli.ts
Due: tsdx lint -- --fix, jest --bail --findRelatedTests, prettier --write

Path conditions:
  tsdx lint -- --fix: any of: *.{js,ts}
  jest --bail --findRelatedTests: any of: *.{js,ts}
  prettier --write: any of: *.{json,md,yml}
